
.DS_Store
.idea/
*.iml

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/localhost-key.pem
frontend/localhost.pem

# backend
backend/.gradle/
backend/build/
backend/.idea/
backend/*.log
backend/.env
backend/.env.local

# 環境変数
*.env
*.env.local

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*